@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>to accounts <a asp-area="Identity" asp-controller="Accounts" asp-action="Index">link</a>.</p> <!-- 動作確認用リンク -->
</div>
