@model JuniorTennis.Mvc.Features.Identity.Accounts.ChangePasswordInquiryViewModel
@{
    ViewData["Title"] = "パスワードの変更";
}

<h2>@ViewData["Title"]</h2>
<div class="single-column-form">
    <p>登録しているメールアドレスを入力してください。</p>
    <p>変更用のリンクを送信します。</p>
    <form asp-action="ChangePasswordInquiry">
        <div class="form-item">
            <label asp-for="MailAddress"></label>
            <input asp-for="MailAddress" />
            <span asp-validation-for="MailAddress"></span>
        </div>
        <div class="form-item">
            <div class="horizontal-items">
                <button class="button-primary">送信</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
