@model JuniorTennis.Mvc.Features.Identity.Accounts.SetupPasswordViewModel

@{
    ViewData["Title"] = "パスワード設定";
}

<h2>@ViewData["Title"]</h2>
<div class="single-column-form">
    <form asp-action="SetupPassword" asp-all-route-data="@Model.ActionParameters">
        <div class="form-item">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-item">
            <div class="horizontal-items">
                <button class="button-primary">登録</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
