// $color-main: #411e08;
$color-main: #331d07;
$color-base: #faf8f5;
$color-accent: #e6b422;

$color-header: #f9f9f9;
$color-nav: #e6ac00;
$color-footer: #eee;
$color-text: #26180c;

$color-link: #5e2e11;

$color-pdf: #f2dcc2;

$white: #fff;
$gold: #c4a84d;
$red: #ff0000;
$brown: #88593c;
$light-gray: #ddd;

$color1: #f4f4f4;
$color2: #3197EE;

$prim: #53e3a6;