@import "color";

.container {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: grid;
  grid: {
    template-columns: 300px 3fr;
    template-rows: auto 1fr 60px;
  }
  justify-items: stretch;
  align-items: stretch;
  header {
    background-color: $color-footer;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
    display: grid;
    grid: {
      template-columns: 1fr 150px;
      template-rows: repeat(auto-fit);
      column-gap: 5px;
      row-gap: 5px;
    }
    .header-anken {
      grid: {
        row: 1 / 1;
        column: 1 / 1;
      }
      display: flex;
      flex-direction: row;
      overflow: hidden;
      min-width: 500px;
      div {
        box-sizing: border-box;
        padding: {
          top: 2px;
          left: 20px;
        }
        flex-basis: auto;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: underline;
      }
      div:first-child {
        flex-basis: 0px;
        flex-grow: 1;
      }
    }
    .header-title {
      grid: {
        row: 2 / 2;
        column: 1 / 3;
      }
      h1 {
        margin: {
          right: 10px;
        }
      }
    }
    .header-nav {
      grid: {
        row: 1 / 1;
        column: 2 / 2;
      }
      text-align: right;
      ul {
        li {
          margin: {
            left: 10px;
          }
        }
      }
    }
  }
  nav {
    overflow-y: scroll;
    grid: {
      column-start: 1;
      column-end: 2;
      row-start: 1;
      row-end: -1;
    }
    padding: 20px 10px;
    background-color: $color-main;
    ul {
      li {
        input {
          float: right;
          vertical-align: bottom;
        }
      }
    }
  }
  nav::-webkit-scrollbar {
    display: none;
  }
  main {
    overflow: auto;
    grid: {
      column-start: 2;
      column-end: -2;
      row-start: 2;
      row-end: -2;
    }
    margin: {
      top: 25px;
    }
    padding: {
      left: 20px;
      right: 20px;
    }
    form {
      label {
        font-weight: 600;
        width: 100%;
      }
      div {
        margin-bottom: 10px;
      }
    }
    .input-table-row,
    .input-table-header-row {
      width: 100%;
      margin-bottom: 0;
      display: grid;
      gap: 5px;
    }
    .input-table-header-row {
      position: sticky;
      top: 0;
      background-color: $white;
      z-index: 100;
      margin: {
        bottom: 0;
      }
      border-bottom: 1px solid $light-gray;
    }
    .input-table {
      width: 100%;
      margin: {
        bottom: 0;
      }
      display: grid;
      gap: 5px;
      background-color: $white;
      .input-table-header-cell {
        p {
          text-align: center;
          font-weight: 600;
        }
      }
      .input-table-cell {
        margin-bottom: 0;
        text-align: center;
        input,
        select {
          width: 100%;
        }
        label {
          width: auto;
        }
        p {
          margin: 0;
          font-size: 15px;
        }
        button {
          display: inline-block;
        }
      }
    }
  }
  footer {
    grid: {
      column-start: 2;
      column-end: -2;
      row-start: 3;
      row-end: -1;
    }
    border-top: 1px solid #eee;
    div {
      display: flex;
      justify-content: space-between;
      #footer-R {
        padding: 8px 15px;
        &:before {
          content: "◀";
          margin-right: 5px;
        }
      }
      #footer-L {
        padding: 8px 15px;
        &:after {
          content: "▶";
          margin-left: 5px;
        }
      }
    }
  }
}

.onecolumn {
  width: 100%;
  padding: 20px 0;
}

.onecolumn input[type="text"],
.onecolumn textarea {
  width: 100%;
}

.onecolumn textarea {
  box-sizing: border-box;
}

main {
  div.onecolumn-table {
    .onecolumn-row {
      // grid-template-columns: 1fr;
      .input-table-cell {
        // max-height: 200px;
        // height: auto;
        div {
          text-align: left;
          input {
            margin-bottom: 5px;
            width: 500px;
          }
          textarea {
            width: 100%;
            max-height: 90px;
            // min-height: 50px;
            // height: auto;
          }
        }
      }
    }
  }
}

.input-table {
  .rationale-row {
    grid-template-columns: 180px 1fr 1fr;
    input[type="text"] {
      margin: 13px 0;
    }
  }
  .fee-row {
    grid-template-columns: 180px 210px 210px 50px;
    .fee-amount {
      text-align: right;
    }
    .detail {
      font-size: 14px;
    }
  }
}
